<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.basic.javaframe.dao.HosAddressDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.basic.javaframe.entity.HosAddress" id="hosAddressMap">
        <result property="rowId" column="row_id"/>
        <result property="rowGuid" column="row_guid"/>
        <result property="createTime" column="create_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="sortSq" column="sort_sq"/>
        <result property="hosInpatient" column="hos_Inpatient"/>
        <result property="hosStorey" column="hos_storey"/>
        <result property="hosBedNumber" column="hos_bedNumber"/>
        <result property="hosUserGuid" column="hosUser_guid"/>
		<result property="hosUserName" column="hos_userName"/>
		<result property="hosUserMobile" column="hos_userMobile"/>
    </resultMap>

	<select id="getList" resultType="com.basic.javaframe.entity.HosAddress">
		select * from hos_address t <include refid="where_clause" />
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by row_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="getCount" resultType="int">
		select count(*) from hos_address t  <include refid="where_clause" />
	</select>

    <!-- 搜索数据区域 -->
    <sql id="where_clause">
        <where>
            1=1
            <if test="rowId != null and rowId != ''"> and t.row_id = #{rowId} </if>
    		<if test="rowIdVague != null and rowIdVague != ''"> and t.row_id like concat('%',#{rowIdVague},'%') </if>
            <if test="rowGuid != null and rowGuid != ''"> and t.row_guid = #{rowGuid} </if>
    		<if test="rowGuidVague != null and rowGuidVague != ''"> and t.row_guid like concat('%',#{rowGuidVague},'%') </if>
            <if test="createTime != null and createTime != ''"> and t.create_time = #{createTime} </if>
    		<if test="createTimeVague != null and createTimeVague != ''"> and t.create_time like concat('%',#{createTimeVague},'%') </if>
            <if test="delFlag != null and delFlag != ''"> and t.del_flag = #{delFlag} </if>
    		<if test="delFlagVague != null and delFlagVague != ''"> and t.del_flag like concat('%',#{delFlagVague},'%') </if>
            <if test="sortSq != null and sortSq != ''"> and t.sort_sq = #{sortSq} </if>
    		<if test="sortSqVague != null and sortSqVague != ''"> and t.sort_sq like concat('%',#{sortSqVague},'%') </if>
            <if test="hosInpatient != null and hosInpatient != ''"> and t.hos_Inpatient = #{hosInpatient} </if>
    		<if test="hosInpatientVague != null and hosInpatientVague != ''"> and t.hos_Inpatient like concat('%',#{hosInpatientVague},'%') </if>
            <if test="hosStorey != null and hosStorey != ''"> and t.hos_storey = #{hosStorey} </if>
    		<if test="hosStoreyVague != null and hosStoreyVague != ''"> and t.hos_storey like concat('%',#{hosStoreyVague},'%') </if>
            <if test="hosBedNumber != null and hosBedNumber != ''"> and t.hos_bedNumber = #{hosBedNumber} </if>
    		<if test="hosBedNumberVague != null and hosBedNumberVague != ''"> and t.hos_bedNumber like concat('%',#{hosBedNumberVague},'%') </if>
            <if test="hosUserGuid != null and hosUserGuid != ''"> and t.hosUser_guid = #{hosUserGuid} </if>
    		<if test="hosUserGuidVague != null and hosUserGuidVague != ''"> and t.hosUser_guid like concat('%',#{hosUserGuidVague},'%') </if>
			<if test="hosUserName != null and hosUserName != ''"> and t.hos_userName = #{hosUserName} </if>
			<if test="hosUserNameVague != null and hosUserNameVague != ''"> and t.hos_userName like concat('%',#{hosUserNameVague},'%') </if>
			<if test="hosUserMobile != null and hosUserMobile != ''"> and t.hos_userMobile = #{hosUserMobile} </if>
			<if test="hosUserMobileVague != null and hosUserMobileVague != ''"> and t.hos_userMobile like concat('%',#{hosUserMobileVague},'%') </if>
        </where>
    </sql>
	 
	<insert id="save" parameterType="com.basic.javaframe.entity.HosAddress" useGeneratedKeys="true" keyProperty="rowId">
		insert into hos_address
		(
			`row_guid`, 
			`create_time`, 
			`del_flag`, 
			`sort_sq`, 
			`hos_Inpatient`, 
			`hos_storey`, 
			`hos_bedNumber`, 
			`hosUser_guid`,
			`hos_userName`,
			`hos_userMobile`
		)
		values
		(
			#{rowGuid}, 
			#{createTime}, 
			#{delFlag}, 
			#{sortSq}, 
			#{hosInpatient}, 
			#{hosStorey}, 
			#{hosBedNumber}, 
			#{hosUserGuid},
			#{hosUserName},
			#{hosUserMobile}
		)
	</insert>
	 
	<update id="update" parameterType="com.basic.javaframe.entity.HosAddress">
		update hos_address 
		<set>
			<if test="rowGuid != null">`row_guid` = #{rowGuid}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}, </if>
			<if test="sortSq != null">`sort_sq` = #{sortSq}, </if>
			<if test="hosInpatient != null">`hos_Inpatient` = #{hosInpatient}, </if>
			<if test="hosStorey != null">`hos_storey` = #{hosStorey}, </if>
			<if test="hosBedNumber != null">`hos_bedNumber` = #{hosBedNumber}, </if>
			<if test="hosUserGuid != null">`hosUser_guid` = #{hosUserGuid},</if>
			<if test="hosUserName != null">`hos_userName` = #{hosUserName}, </if>
			<if test="hosUserMobile != null">`hos_userMobile` = #{hosUserMobile} </if>
		</set>
		where row_guid = #{rowGuid}
	</update>
	
	<delete id="deleteBatch">
		update hos_address set `del_flag` = 1 where row_guid in 
		<foreach item="rowGuid" collection="array" open="(" separator="," close=")">
			#{rowGuid}
		</foreach>
	</delete>
	
	<select id="getAddressListByUserGuid" resultType="com.basic.javaframe.entity.HosAddress">
		select a.*,u.hos_userName,u.hos_userMobile from hos_address a left join hos_user u on a.hosUser_guid = u.row_guid
		where a.hosUser_guid = #{hosUserGuid} and a.del_flag = 0
	</select>

</mapper>