<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.basic.javaframe.dao.HosGoodstypeDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.basic.javaframe.entity.HosGoodstype" id="hosGoodstypeMap">
        <result property="rowId" column="row_id"/>
        <result property="rowGuid" column="row_guid"/>
        <result property="createTime" column="create_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="sortSq" column="sort_sq"/>
        <result property="typeName" column="type_name"/>
        <result property="pgoodsTypeCode" column="pgoods_type_code"/>
        <result property="goodsTypeCode" column="goods_type_code"/>
    </resultMap>

	<select id="getList" resultType="com.basic.javaframe.entity.HosGoodstype">
		select * from hos_goodstype t <include refid="where_clause" />
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by sort_sq desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="getCount" resultType="int">
		select count(*) from hos_goodstype t  <include refid="where_clause" />
	</select>

    <!-- 搜索数据区域 -->
    <sql id="where_clause">
        <where>
            1=1
            <if test="rowId != null and rowId != ''"> and t.row_id = #{rowId} </if>
    		<if test="rowIdVague != null and rowIdVague != ''"> and t.row_id like concat('%',#{rowIdVague},'%') </if>
            <if test="rowGuid != null and rowGuid != ''"> and t.row_guid = #{rowGuid} </if>
    		<if test="rowGuidVague != null and rowGuidVague != ''"> and t.row_guid like concat('%',#{rowGuidVague},'%') </if>
            <if test="createTime != null and createTime != ''"> and t.create_time = #{createTime} </if>
    		<if test="createTimeVague != null and createTimeVague != ''"> and t.create_time like concat('%',#{createTimeVague},'%') </if>
            <if test="delFlag != null and delFlag != ''"> and t.del_flag = #{delFlag} </if>
    		<if test="delFlagVague != null and delFlagVague != ''"> and t.del_flag like concat('%',#{delFlagVague},'%') </if>
            <if test="sortSq != null and sortSq != ''"> and t.sort_sq = #{sortSq} </if>
    		<if test="sortSqVague != null and sortSqVague != ''"> and t.sort_sq like concat('%',#{sortSqVague},'%') </if>
            <if test="typeName != null and typeName != ''"> and t.type_name = #{typeName} </if>
    		<if test="typeNameVague != null and typeNameVague != ''"> and t.type_name like concat('%',#{typeNameVague},'%') </if>
            <if test="pgoodsTypeCode != null and pgoodsTypeCode != ''"> and t.pgoods_type_code = #{pgoodsTypeCode} </if>
    		<if test="pgoodsTypeCodeVague != null and pgoodsTypeCodeVague != ''"> and t.pgoods_type_code like concat('%',#{pgoodsTypeCodeVague},'%') </if>
            <if test="goodsTypeCode != null and goodsTypeCode != ''"> and t.goods_type_code = #{goodsTypeCode} </if>
    		<if test="goodsTypeCodeVague != null and goodsTypeCodeVague != ''"> and t.goods_type_code like concat('%',#{goodsTypeCodeVague},'%') </if>
			and t.del_flag = 0
        </where>
    </sql>
	 
	<insert id="save" parameterType="com.basic.javaframe.entity.HosGoodstype" useGeneratedKeys="true" keyProperty="rowId">
		insert into hos_goodstype
		(
			`row_guid`, 
			`create_time`, 
			`del_flag`, 
			`sort_sq`, 
			`type_name`, 
			`pgoods_type_code`, 
			`goods_type_code`
		)
		values
		(
			#{rowGuid}, 
			#{createTime}, 
			#{delFlag}, 
			#{sortSq}, 
			#{typeName}, 
			#{pgoodsTypeCode}, 
			#{goodsTypeCode}
		)
	</insert>
	 
	<update id="update" parameterType="com.basic.javaframe.entity.HosGoodstype">
		update hos_goodstype
		<set>
			<if test="rowGuid != null">`row_guid` = #{rowGuid}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}, </if>
			<if test="sortSq != null">`sort_sq` = #{sortSq}, </if>
			<if test="typeName != null">`type_name` = #{typeName}, </if>
			<if test="pgoodsTypeCode != null">`pgoods_type_code` = #{pgoodsTypeCode}, </if>
			<if test="goodsTypeCode != null">`goods_type_code` = #{goodsTypeCode}, </if>
		</set>
		where row_guid = #{rowGuid}
	</update>
	
	<update id="deleteBatch">
		update hos_goodstype set `del_flag` = 1 where row_guid in
		<foreach item="rowGuid" collection="array" open="(" separator="," close=")">
			#{rowGuid}
		</foreach>
	</update>

	<!-- 查询所有父节点 -->
	<select id="findTopGoodsTypes" resultType="com.basic.javaframe.entity.HosGoodstype">
		select * from hos_goodstype where pgoods_type_code = '0' and del_flag = 0
	</select>

	<!-- 根据食品类别编号查询 -->
	<select id="getByGoodsTypeCode" resultType="java.lang.String">
	    select type_name from hos_goodstype where goods_type_code = #{deptCode} and del_flag = 0
	</select>

	<!--根据guid查询食品类别名称-->
	<select id="getTypeNameByGuid" resultType="java.lang.String">
		select type_name from hos_goodstype where row_guid=#{rowGuid} and del_flag = 0
	</select>

	<!-- 根据父节点查询 -->
	<select id="getByPgoodsCode" resultType="com.basic.javaframe.entity.HosGoodstype">
	    select * from hos_goodstype where pgoods_type_code = #{value} and del_flag = 0
	</select>

	<!-- 验证重复性 -->
	<select id="checkGoodsType" resultType="int">
		select count(*) from hos_goodstype t<include refid="where_clause" />
	</select>
	
	<select id="getByRowGuid" resultType="com.basic.javaframe.entity.HosGoodstype">
	    select * from hos_goodstype where row_guid = #{value}
	</select>
</mapper>