<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.basic.javaframe.dao.Sechos_PopuPersonDao">

    <select id="getByDetail" resultType="com.basic.javaframe.entity.Sechos_PopuPerson">
        select * from sechos_popuPerson where row_guid = #{value}
    </select>
	 
    <select id="getByPopuPersonGuid" resultType="com.basic.javaframe.entity.Sechos_PopuPerson">
        select * from sechos_popuPerson where popuPersonGuid = #{value}
    </select>
    
    <select id="getByPopuPersonOpenId" resultType="com.basic.javaframe.entity.Sechos_PopuPerson">
        select * from sechos_popuPerson where popuPersonOpenId = #{value}
    </select>
    
	<insert id="save" parameterType="com.basic.javaframe.entity.Sechos_PopuPerson" useGeneratedKeys="true" keyProperty="rowId">
		insert into sechos_popuPerson
		(
			`row_guid`, 
			`create_time`, 
			`del_flag`, 
			`promoters`,
			`promotersGuid`,
			`popuPersonGuid`,
			`popuPerson`,
			`popuPersonOpenId`
		)
		values
		(
			#{rowGuid}, 
			#{createTime}, 
			#{delFlag}, 
			#{promoters},
			#{promotersGuid},
			#{popuPersonGuid},
			#{popuPerson},
			#{popuPersonOpenId}
		)
	</insert>
	 
	<update id="update" parameterType="com.basic.javaframe.entity.Sechos_PopuPerson">
		update sechos_popuPerson 
		<set>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}, </if>
			<if test="sortSq != null">`sort_sq` = #{sortSq}, </if>
			<if test="promoters != null">`promoters` = #{promoters},</if>
			<if test="promotersGuid != null">`promotersGuid` = #{promotersGuid},</if>
			<if test="popuPersonGuid != null">`popuPersonGuid` = #{popuPersonGuid},</if>
			<if test="popuPerson != null">`popuPerson` = #{popuPerson},</if>
			<if test="popuPersonOpenId != null">`popuPersonOpenId` = #{popuPersonOpenId}</if>
		</set>
		where row_guid = #{rowGuid}
	</update>

	<!--查询推广次数-->
	<select id="getMyPopuCount" resultType="int">
		select count(*) from sechos_popuPerson where promotersGuid =#{promotersGuid}
	</select>

	<!--查询推广次数大于0的-->
	<select id="getPopuListByAdmin" resultType="com.basic.javaframe.entity.Frame_User">
		select oa.user_name,oa.row_guid,oa.extensionCount from frame_useroa oa where oa.extensionCount > 0 order by oa.extensionCount desc
		limit #{offset}, #{limit}
	</select>

	<select id="getCountByGuid" resultType="com.basic.javaframe.entity.Frame_User">
		select extensionCount from frame_useroa where row_guid =#{rowGuid}
	</select>
</mapper>