<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.basic.javaframe.dao.Sechos_StorageamountDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.basic.javaframe.entity.Sechos_Storageamount" id="sechosStorageamountMap">
        <result property="rowId" column="row_id"/>
        <result property="rowGuid" column="row_guid"/>
        <result property="createTime" column="create_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="sortSq" column="sort_sq"/>
        <result property="drugGuid" column="drug_guid"/>
        <result property="drugName" column="drug_name"/>
        <result property="drugCode" column="drug_code"/>
        <result property="drugSum" column="drug_sum"/>
    </resultMap>

	<select id="getList" resultType="com.basic.javaframe.entity.Sechos_Storageamount">
		select * from sechos_storageamount t <include refid="where_clause" />
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by row_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="getCount" resultType="int">
		select count(*) from sechos_storageamount t  <include refid="where_clause" />
	</select>

    <!-- 搜索数据区域 -->
    <sql id="where_clause">
        <where>
            1=1
            <if test="rowId != null and rowId != ''"> and t.row_id = #{rowId} </if>
    		<if test="rowIdVague != null and rowIdVague != ''"> and t.row_id like concat('%',#{rowIdVague},'%') </if>
            <if test="rowGuid != null and rowGuid != ''"> and t.row_guid = #{rowGuid} </if>
    		<if test="rowGuidVague != null and rowGuidVague != ''"> and t.row_guid like concat('%',#{rowGuidVague},'%') </if>
            <if test="createTime != null and createTime != ''"> and t.create_time = #{createTime} </if>
    		<if test="createTimeVague != null and createTimeVague != ''"> and t.create_time like concat('%',#{createTimeVague},'%') </if>
            <if test="delFlag != null and delFlag != ''"> and t.del_flag = #{delFlag} </if>
    		<if test="delFlagVague != null and delFlagVague != ''"> and t.del_flag like concat('%',#{delFlagVague},'%') </if>
            <if test="sortSq != null and sortSq != ''"> and t.sort_sq = #{sortSq} </if>
    		<if test="sortSqVague != null and sortSqVague != ''"> and t.sort_sq like concat('%',#{sortSqVague},'%') </if>
            <if test="drugGuid != null and drugGuid != ''"> and t.drug_guid = #{drugGuid} </if>
    		<if test="drugGuidVague != null and drugGuidVague != ''"> and t.drug_guid like concat('%',#{drugGuidVague},'%') </if>
            <if test="drugName != null and drugName != ''"> and t.drug_name = #{drugName} </if>
    		<if test="drugNameVague != null and drugNameVague != ''"> and t.drug_name like concat('%',#{drugNameVague},'%') </if>
            <if test="drugCode != null and drugCode != ''"> and t.drug_code = #{drugCode} </if>
    		<if test="drugCodeVague != null and drugCodeVague != ''"> and t.drug_code like concat('%',#{drugCodeVague},'%') </if>
            <if test="drugSum != null and drugSum != ''"> and t.drug_sum = #{drugSum} </if>
    		<if test="drugSumVague != null and drugSumVague != ''"> and t.drug_sum like concat('%',#{drugSumVague},'%') </if>
        	and t.del_flag = 0
        </where>
    </sql>
	 
	<insert id="save" parameterType="com.basic.javaframe.entity.Sechos_Storageamount" useGeneratedKeys="true" keyProperty="rowId">
		insert into sechos_storageamount
		(
			`row_guid`, 
			`create_time`, 
			`del_flag`, 
			`sort_sq`, 
			`drug_guid`, 
			`drug_name`, 
			`drug_code`, 
			`drug_sum`
		)
		values
		(
			#{rowGuid}, 
			#{createTime}, 
			#{delFlag}, 
			#{sortSq}, 
			#{drugGuid}, 
			#{drugName}, 
			#{drugCode}, 
			#{drugSum}
		)
	</insert>
	 
	<update id="update" parameterType="com.basic.javaframe.entity.Sechos_Storageamount">
		update sechos_storageamount 
		<set>
			<if test="rowGuid != null">`row_guid` = #{rowGuid}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}, </if>
			<if test="sortSq != null">`sort_sq` = #{sortSq}, </if>
			<if test="drugGuid != null">`drug_guid` = #{drugGuid}, </if>
			<if test="drugName != null">`drug_name` = #{drugName}, </if>
			<if test="drugCode != null">`drug_code` = #{drugCode}, </if>
			<if test="drugSum != null">`drug_sum` = #{drugSum}</if>
		</set>
		where row_guid = #{rowGuid}
	</update>
	
	<delete id="deleteBatch">
		update sechos_storageamount set `del_flag` = 1 where row_guid in 
		<foreach item="rowGuid" collection="array" open="(" separator="," close=")">
			#{rowGuid}
		</foreach>
	</delete>

	<update id="updateNum" >
		update sechos_storageamount set `drug_sum` = #{Num}+`drug_sum` where
			drug_code=#{drugCode}
	</update>

	<select id="getSumByGuid" resultType="int">
		select drug_sum from sechos_storageamount where drug_guid=#{drugGuid} and del_flag = 0
	</select>

	<update id="subtractNum" >
		update sechos_storageamount set `drug_sum` = `drug_sum` - #{Num} where
			drug_code=#{drugCode}
	</update>
</mapper>