<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.basic.javaframe.dao.Sechos_ProcurementDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.basic.javaframe.entity.Sechos_Procurement" id="sechosProcurementMap">
        <result property="rowId" column="row_id"/>
        <result property="rowGuid" column="row_guid"/>
        <result property="createTime" column="create_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="sortSq" column="sort_sq"/>
        <result property="purchaseOrderNum" column="purchase_orderNum"/>
        <result property="purchaseDate" column="purchase_date"/>
        <result property="inboundDate" column="inbound_date"/>
        <result property="purchaseStatus" column="purchase_status"/>
        <result property="purchaseNote" column="purchase_note"/>
    </resultMap>

	<select id="getList" resultType="com.basic.javaframe.entity.Sechos_Procurement">
		select * from sechos_procurement t <include refid="where_clause" />
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by row_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="getCount" resultType="int">
		select count(*) from sechos_procurement t  <include refid="where_clause" />
	</select>

    <!-- 搜索数据区域 -->
    <sql id="where_clause">
        <where>
            1=1
            <if test="rowId != null and rowId != ''"> and t.row_id = #{rowId} </if>
    		<if test="rowIdVague != null and rowIdVague != ''"> and t.row_id like concat('%',#{rowIdVague},'%') </if>
            <if test="rowGuid != null and rowGuid != ''"> and t.row_guid = #{rowGuid} </if>
    		<if test="rowGuidVague != null and rowGuidVague != ''"> and t.row_guid like concat('%',#{rowGuidVague},'%') </if>
            <if test="createTime != null and createTime != ''"> and t.create_time = #{createTime} </if>
    		<if test="createTimeVague != null and createTimeVague != ''"> and t.create_time like concat('%',#{createTimeVague},'%') </if>
            <if test="delFlag != null and delFlag != ''"> and t.del_flag = #{delFlag} </if>
    		<if test="delFlagVague != null and delFlagVague != ''"> and t.del_flag like concat('%',#{delFlagVague},'%') </if>
            <if test="sortSq != null and sortSq != ''"> and t.sort_sq = #{sortSq} </if>
    		<if test="sortSqVague != null and sortSqVague != ''"> and t.sort_sq like concat('%',#{sortSqVague},'%') </if>
            <if test="purchaseOrderNum != null and purchaseOrderNum != ''"> and t.purchase_orderNum = #{purchaseOrderNum} </if>
    		<if test="purchaseOrderNumVague != null and purchaseOrderNumVague != ''"> and t.purchase_orderNum like concat('%',#{purchaseOrderNumVague},'%') </if>
            <if test="purchaseDate != null and purchaseDate != ''"> and t.purchaseDate = #{purchaseDate} </if>
    		<if test="purchaseDateVague != null and purchaseDateVague != ''"> and t.purchase_date like concat('%',#{purchaseDateVague},'%') </if>
            <if test="inboundDate != null and inboundDate != ''"> and t.inbound_date = #{inboundDate} </if>
    		<if test="inboundDateVague != null and inboundDateVague != ''"> and t.inbound_date like concat('%',#{inboundDateVague},'%') </if>
            <if test="purchaseStatus != null and purchaseStatus != ''"> and t.purchase_status = #{purchaseStatus} </if>
    		<if test="purchaseStatusVague != null and purchaseStatusVague != ''"> and t.purchase_status like concat('%',#{purchaseStatusVague},'%') </if>
            <if test="purchaseNote != null and purchaseNote != ''"> and t.purchase_note = #{purchaseNote} </if>
    		<if test="purchaseNoteVague != null and purchaseNoteVague != ''"> and t.purchase_note like concat('%',#{purchaseNoteVague},'%') </if>
			<if test=" startTime != null and startTime != '' and endTime != null and endTime != '' ">
				AND DATE_FORMAT( t.purchaseDate, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
			</if>
			and t.del_flag = 0
        </where>
    </sql>
	 
	<insert id="save" parameterType="com.basic.javaframe.entity.Sechos_Procurement" useGeneratedKeys="true" keyProperty="rowId">
		insert into sechos_procurement
		(
			`row_guid`, 
			`create_time`, 
			`del_flag`, 
			`sort_sq`, 
			`purchase_orderNum`, 
			`purchase_date`, 
			`inbound_date`, 
			`purchase_status`, 
			`purchase_note`
		)
		values
		(
			#{rowGuid}, 
			#{createTime}, 
			#{delFlag}, 
			#{sortSq}, 
			#{purchaseOrderNum}, 
			#{purchaseDate}, 
			#{inboundDate}, 
			#{purchaseStatus}, 
			#{purchaseNote}
		)
	</insert>
	 
	<update id="update" parameterType="com.basic.javaframe.entity.Sechos_Procurement">
		update sechos_procurement 
		<set>
			<if test="rowGuid != null">`row_guid` = #{rowGuid}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}, </if>
			<if test="sortSq != null">`sort_sq` = #{sortSq}, </if>
			<if test="purchaseOrderNum != null">`purchase_orderNum` = #{purchaseOrderNum}, </if>
			<if test="purchaseDate != null">`purchase_date` = #{purchaseDate}, </if>
			<if test="inboundDate != null">`inbound_date` = #{inboundDate}, </if>
			<if test="purchaseStatus != null">`purchase_status` = #{purchaseStatus}, </if>
			<if test="purchaseNote != null">`purchase_note` = #{purchaseNote}</if>
		</set>
		where row_guid = #{rowGuid}
	</update>
	
	<delete id="deleteBatch">
		update sechos_procurement set `del_flag` = 1 where row_guid in 
		<foreach item="rowGuid" collection="array" open="(" separator="," close=")">
			#{rowGuid}
		</foreach>
	</delete>

</mapper>